const THUNDER_KEY = 'CHAVE DA API THUNDERFOREST'
const MAPBOX_KEY = 'CHAVE DA API MAPBOX'
const INITIAL_VIEW = {
  lagoa_santa: [-19.62699243, -43.88995792],
  default: [-3.130409, -60.0203426]
};
const INITIAL_ZOOM = 15;
